<p id="notice"><%= notice %></p>

<p>
  <strong>Инициалы преподавателя:</strong>
  <%= @professor.name %>
</p>

<%= link_to 'Редактировать', edit_professor_path(@professor),  class: "btn btn-mini btn-success" %> |
<%= link_to 'Назад', professors_path,  class: "btn btn-mini btn-default" %>
