 

<p>
  <strong>Номер аудитории:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Лабораторная?:</strong>
   <% if @room.lab %>Да<% else %>Нет<% end %>
</p>

<p>
  <strong>Количество мест:</strong>
  <%= @room.size %>
</p>
 

<%= link_to 'Редактировать аудиторию', edit_room_path(@room) %> |
<%= link_to 'Назад', rooms_path %>
