

.gridster .preview-holder{
	z-index:1;position:absolute;
	background-color: gray;
	border-color:gray;
	opacity:.3}

.gridster ul li {
    background-color:#DFF0D8;
    overflow: hidden;
}

#freeslots {
    background-color: #EFEFEF;
}

/*


.gridster-cell {
  background-color: #2EFEF7;
  list-style-type: none;
}
 

@import url('http://buttonpresser.com/CivicIdeas_BS/css/gridster.css');
@import url('http://buttonpresser.com/CivicIdeas_BS/css/bootstrap-custom.css');
 


 

 .gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}*/