.gridster-cell {
  background-color: #2EFEF7;
  list-style-type: none;
}
 

/*
@import url('http://buttonpresser.com/CivicIdeas_BS/css/gridster.css');
@import url('http://buttonpresser.com/CivicIdeas_BS/css/bootstrap-custom.css');
 


.gridster ul li {
    background-color:#2EFEF7;
    overflow: hidden;
}

 

 .gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}*/